# Homework: List of planets with mass and distance, Center of Mass for each system
### 1. read the file from exoplanet.eu
List of planets from exoplanet.eu

In [39]:
import pandas as pd 
import numpy as np

data_ep = pd.read_csv('data/exoplanet.eu_catalog.csv', usecols=['mass','mass_error_min',
                                                                'semi_major_axis','semi_major_axis_error_min',
                                                                'star_name'])
#data_ep
#data_ep.count()

**Remember**: `pd.notnull("name_of_column")` deletes the NaN values in the column. 

**Remember**: `data=data[['column_a','column_b',..,'column_n',]]` get a new order in the DataFrame

Now is necessary processing the data with the prurpose to get the Center of Mass, `data1` is a DataFrame without the NaN values of _mass_ and _semi major axis_. Finally, we get 1667 rows.

In [65]:
data = data_ep[pd.notnull(data_ep["mass"])]
#data = data[pd.notnull(data["star_name"])]  
dataa = data[pd.notnull(data["semi_major_axis"])]
data1 = data[['star_name','mass','semi_major_axis']]
#data1

data2 = data_ep.dropna()
#data2

So, `data2` is a DataFrame without the NaN values of mass, semi major axis and their uncertainties. Finally, we get 1220 rows, 447 rows lost. for the semi makor axes column we have `data3`,

In [67]:
data3 = data_ep[pd.notnull(data_ep["mass"])]
data_ep[['star_name',""]]
data3.groupby("star_name").count()

KeyError: 1

### 2. Center of Mass 
We need to estimate the CM for each planet, so:
\begin{equation*}
\text{CM} = \frac{\sum\limits_{k=1}^n(m_{k}\vec{r_{k}})}{\sum \limits_{k=1}^{n}m_{k}} %=\frac{\sum\limits_{k=1}^n(m_{k}\vec{r_{k}})}{M_{T}}
\end{equation*}
For do it, is nessesary get the values CM for each planet, so with the columns of `mass` and distance from the star  `semi_major_axis` we can get $\boxed{m_{k}\vec{r_{k}}}$ values.

First we select the columns:

In [8]:
r_i = data["semi_major_axis"]
m_i = data["mass"]
#the multiplications between columns:
rm_i = r_i.multiply(m_i)
data['CM_i'] = rm_i # it adds a new colum call Center of Mass ith, por each planet in the system. 
data
#print(len(x_i),len(m_i),len(xm_i))

               star_name      mass  semi_major_axis          CM_i
0                 11 Com  19.40000          1.29000     25.026000
1                 11 Oph  21.00000        243.00000   5103.000000
2                 11 UMi  10.50000          1.54000     16.170000
3                 14 And   5.33000          0.83000      4.423900
4                 14 Her   4.64000          2.77000     12.852800
5               16 Cyg B   1.68000          1.68000      2.822400
6                 18 Del  10.30000          2.60000     26.780000
7               1RXS1609  14.00000        330.00000   4620.000000
8           1SWASP J1407  20.00000          3.90000     78.000000
9                 24 Boo   0.91000          0.19000      0.172900
10                24 Sex   1.99000          1.33300      2.652670
11                24 Sex   0.86000          2.08000      1.788800
12       2M 0103-55 (AB)  13.00000         84.00000   1092.000000
13            2M 0122-24  20.00000         52.00000   1040.000000
14            2M 0219-39  13.90000        156.00000   2168.400000
15            2M 0441+23   7.50000         15.00000    112.500000
16            2M 0746+20  30.00000          2.89700     86.910000
17            2M 1207-39   4.00000         46.00000    184.000000
18           2M  1938+46   1.90000          0.92000      1.748000
19            2M 2140+16  20.00000          3.53000     70.600000
20            2M 2206-20  30.00000          4.48000    134.400000
21          2M 2236+4751  12.50000        230.00000   2875.000000
22        TYC 9486-927-1  13.30000       6900.00000  91770.000000
27    2MASS J1450-7841 B  40.00000        300.00000  12000.000000
28    2MASS J1450-7841 A  40.00000        300.00000  12000.000000
29      2MASS J2250+2325  30.00000        518.00000  15540.000000
30              30 Ari B   9.88000          0.99500      9.830600
31                38 Vir   4.51000          1.82000      8.208200
32                 4 Uma   7.10000          0.87000      6.177000
33                42 Dra   3.88000          1.19000      4.617200
...                  ...       ...              ...           ...
3794             eta Cet   2.55000          1.27000      3.238500
3795             eta Cet   3.32000          1.93000      6.407600
3796         gamma 1 Leo  63.88000          1.19000     76.017200
3797        gamma Cephei  11.09000          2.05000     22.734500
3798           gamma Lib   1.02900          1.23970      1.275651
3799           gamma Lib   4.63000          2.17610     10.075343
3800           kappa And  14.00000         55.00000    770.000000
3801           kappa CrB   1.60000          2.60000      4.160000
3803             ksi Aql   2.02000          0.58000      1.171600
3804              mu Ara   1.67600          1.50000      2.514000
3805              mu Ara   0.03321          0.09094      0.003020
3806              mu Ara   0.52190          0.92100      0.480670
3807              mu Ara   1.81400          5.23500      9.496290
3808              mu Leo   2.40000          1.10000      2.640000
3809              nu Oph  24.00000          1.90000     45.600000
3810              nu Oph  27.00000          6.10000    164.700000
3811             ome Ser   1.70000          1.10000      1.870000
3812            omi  CrB   1.50000          0.83000      1.245000
3813             omi UMa   4.10000          3.90000     15.990000
3814             sig Per   6.50000          1.80000     11.700000
3815             tau Boo   5.84000          0.04600      0.268640
3816             tau Cet   0.01240          0.53800      0.006671
3817             tau Cet   0.01240          1.33400      0.016542
3818             tau Cet   0.00551          0.13300      0.000733
3819             tau Cet   0.00576          0.24300      0.001400
3820             tau Gem  20.60000          1.17000     24.102000
3821             ups And   0.62000          0.05900      0.036580
3822             ups And   9.10000          0.86100      7.835100
3823             ups And  23.58000          2.55000     60.129000
3824             ups And   1.05900          5.24560      5.555090

[1523 rows x 4 columns]

**Remember:** The `data.groupby("key")` split the data in groups which are the key.

**Remember:** The `data[i].multiply(data[j])` multiplies the comun i and j of DataFrame or Series i and j, row by row.

**Remember:** The `data.groupby.groups.keys()` get the keys of the split data.

However, the calculus of the CM, counting the planetary systems with the same satar.

In [10]:
p_system = data.groupby("star_name")
p_system.count()
#p_system.count()
#M_total = p_system["mass"].sum()#.tolist() changes from Series to list
#sum_rm = p_system["center_of_mass"].sum()#.tolist()
#CM = sum_rm.divide(M_total) #total center of mass, for each extraplanetary system

#system = list(data.groupby("star_name").groups.keys())

#print(len(p_system),len(RM_total),len(M_total)

#data2 = pd.DataFrame({'system_name':system,'total_mass':M_total.tolist(),'Center_of_Mass':CM.tolist()})
#data2 #the data after get the Center of Mass for each system

                      mass  semi_major_axis  CM_i
star_name
 OGLE-2016-BLG-1067L     1                1     1
 TYC 4282-605-1          1                1     1
11 Com                   1                1     1
11 Oph                   1                1     1
11 UMi                   1                1     1
14 And                   1                1     1
14 Her                   1                1     1
16 Cyg B                 1                1     1
18 Del                   1                1     1
1RXS1609                 1                1     1
1SWASP J1407             1                1     1
24 Boo                   1                1     1
24 Sex                   2                2     2
2M  1938+46              1                1     1
2M 0103-55 (AB)          1                1     1
2M 0122-24               1                1     1
2M 0219-39               1                1     1
2M 0441+23               1                1     1
2M 0746+20               1                1     1
2M 1207-39               1                1     1
2M 2140+16               1                1     1
2M 2206-20               1                1     1
2M 2236+4751             1                1     1
2MASS J1450-7841 A       1                1     1
2MASS J1450-7841 B       1                1     1
2MASS J2250+2325         1                1     1
30 Ari B                 1                1     1
38 Vir                   1                1     1
4 Uma                    1                1     1
42 Dra                   1                1     1
...                    ...              ...   ...
XO-5                     1                1     1
XO-6                     1                1     1
YZ Cet                   3                3     3
alf Ari                  1                1     1
beta Cir                 1                1     1
beta Cnc                 1                1     1
beta Pic                 1                1     1
beta Umi                 1                1     1
eps CrB                  1                1     1
eps Eridani              1                1     1
eps Ind A                1                1     1
eps Tau                  1                1     1
eta Cet                  2                2     2
gamma 1 Leo              1                1     1
gamma Cephei             1                1     1
gamma Lib                2                2     2
kappa And                1                1     1
kappa CrB                1                1     1
ksi Aql                  1                1     1
mu Ara                   4                4     4
mu Leo                   1                1     1
nu Oph                   2                2     2
ome Ser                  1                1     1
omi  CrB                 1                1     1
omi UMa                  1                1     1
sig Per                  1                1     1
tau Boo                  1                1     1
tau Cet                  4                4     4
tau Gem                  1                1     1
ups And                  4                4     4

[1205 rows x 3 columns]

### 3. Gaussian Mixture Model